#cursor {
    pointer-events: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f0db4f;
    position: sticky;
    z-index: 1000;
    mix-blend-mode: difference;
}
